<main>
  <header id="cabecalho">
    <div id="numero">{{ pokemon.id }}</div>
    <div id="nome">-{{ pokemon.nome | titlecase }}</div>
    <div id="tipos">
      <div class="tipo-nome" [style.background-color]="corTipo1">
        {{ pokemon.tipo_1 }}
      </div>
      <div
        class="tipo-nome"
        [style.background-color]="corTipo2"
        *ngIf="pokemon.tipo_2"
      >
        {{ pokemon.tipo_2 }}
      </div>
    </div>
  </header>

  <section id="telaImagem">
    <button class="botao" (click)="proximo(false)"><</button>
    <div
      *ngIf="carregadaTodasInfomacoes"
      id="habitat"
      [style.background-image]="'url(' + pokemon.habitat + ')'"
    >
      <img id="imagem" [src]="pokemon.imagem" alt="imagem do pokemon" />
    </div>
    <button class="botao" (click)="proximo(true)">></button>
  </section>

  <section id="modo">
    <button class="botao" (click)="voltar()">Back</button>
    <button class="botao" (click)="mudar()">Mode</button>
  </section>

  <section id="dex">
    <div id="telaAtributos" *ngIf="modo == 1">
      <app-stats
        [ataqueF]="pokemon.ataqueF"
        [ataqueE]="pokemon.ataqueE"
        [defesaF]="pokemon.defesaF"
        [defesaE]="pokemon.defesaE"
        [velocidade]="pokemon.velocidade"
        [saude]="pokemon.saude"
      ></app-stats>
    </div>

    <div id="telaTextos" *ngIf="modo == 2">
      <p *ngFor="let item of pokemon.info">{{ item["texto"] }}</p>
    </div>

    <div id="telaHabilidades" *ngIf="modo == 1">
      <app-stats
        [ataqueF]="pokemon.ataqueF"
        [ataqueE]="pokemon.ataqueE"
        [defesaF]="pokemon.defesaF"
        [defesaE]="pokemon.defesaE"
        [velocidade]="pokemon.velocidade"
        [saude]="pokemon.saude"
      ></app-stats>
    </div>
  </section>
</main>
