#caixa_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.caixa_grande {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  border: solid 1px black;
  border-radius: 10px;
  margin: 5px;
  background-color: aliceblue;
}

.caixa_grande > span {
  margin: 0 10px;
}

.caixa_lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

.caixa_dados {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.caixa_dado {
  display: flex;
  align-items: center;
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

strong > span {
  font-weight: bolder;
  font-size: larger;
}

.caixa_coluna {
  width: 90%;
  display: flex;
}

.caixa_habilidade {
  margin: 2px 0;
  background-color: #e6e6fa;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  font-weight: bold;
}

.caixa_item {
  margin: 2px 0;
  background-color: #ffdfe4;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  font-weight: bold;
}

.circulo {
  margin: 0 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000000;
}
