<main id="lista">
  <!-- <main id="lista" (scroll)="aoRolar($event)"> -->
  <div class="caixa_geracao">
    <select
      #combo
      class="combo"
      name="combo"
      (change)="mudarLista(combo.value)"
    >
      <option *ngFor="let item of opcoes">{{ item }}</option>
    </select>
  </div>
  <div *ngFor="let item of pokemons; let i = index">
    <app-item-lista
      [numero]="item.id!"
      [imagem]="item.sprite!"
      [nome]="item.name!"
      [tipo1]="item.type1!"
      [tipo2]="item.type2!"
    ></app-item-lista>
  </div>
</main>
